# User Constraint File for 4 digit counter on Elbert 2

# Left Push Switch (SW1) is Clock
# LEDs D1 to D4 are outputs

NET "Clock" LOC = "P80" | PULLUP | CLOCK_DEDICATED_ROUTE = FALSE;

NET "QA" LOC = "P55";
NET "QB" LOC = "P54";
NET "QC" LOC = "P51";
NET "QD" LOC = "P50";
